<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="LogDataGenerator" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/logdata-generator.log"
                     filePattern="logs/logdata-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFile-Data" fileName="logs/data.log"
                     filePattern="logs/$${date:yyyy-MM}/data-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFile-Data" fileName="logs/json-data.log"
                     filePattern="logs/$${date:yyyy-MM}/data-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="net.acesinc" level="DEBUG">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT"/>
        </logger>
        <logger name="data-logger" level="info">
            <AppenderRef ref="RollingFile-Data"/>
            <AppenderRef ref="STDOUT"/>
        </logger>
        <Root level="error">
        </Root>
    </Loggers>
</Configuration>